server {
  listen 80;

  server_name {{ web_app_domain }};
  root {{ webapp_assets_directory }};
  index index.html;

  set_real_ip_from 10.0.0.0/8;
  real_ip_header X-Real-IP;
  real_ip_recursive on;
  client_body_buffer_size 128k;
  proxy_connect_timeout 60;
  proxy_send_timeout 180s;
  proxy_read_timeout 180s;
  proxy_buffer_size 64k;
  proxy_busy_buffers_size 128k;
  proxy_buffers 64 16k;

  # swagger docs
  location /swagger.json {
    proxy_pass http://localhost:9000;
  }

  # the admin api is only reachable when providing the necessary credentials
  location /api/admin {
    auth_basic "Administrators only";
    auth_basic_user_file {{ nginx_admin_settings_file }};
    auth_basic_user_file /etc/nginx/admin-config/htpasswd;

    proxy_set_header  Host $host;
    proxy_set_header  X-Real-IP $remote_addr;
    proxy_set_header  X-Forwarded-For $remote_addr;
    proxy_set_header  X-Forwarded-Host $remote_addr;
    proxy_set_header  X-Forwarded-User $remote_user;
    proxy_set_header  X-Forwarded-Proto https;
    proxy_http_version 1.1;
    proxy_set_header Connection "";

    rewrite ^/api/(.*) /$1 break;
    proxy_pass http://localhost:9000;
  }

  location /api {
    proxy_set_header  Host $host;
    proxy_set_header  X-Real-IP $remote_addr;
    proxy_set_header  X-Forwarded-For $remote_addr;
    proxy_set_header  X-Forwarded-Host $remote_addr;
    proxy_set_header  X-Forwarded-User $remote_user;
    proxy_set_header  X-Forwarded-Proto https;
    proxy_http_version 1.1;
    proxy_set_header Connection "";

    rewrite ^/api/(.*) /$1 break;
    proxy_pass http://localhost:9000;
  }

  # FIXME: This prevents returning the static resources from the app, like /api/swagger.json
  # caching static assets
  # location ~* \.(jpg|jpeg|png|gif|ico|css|js)$ {
  #   expires 7d;
  # }

  location / {
    try_files $uri $uri/ /index.html;
  }
}
