POSTGRES_DATABASE="server_db"
POSTGRES_USERNAME="db_user"
POSTGRES_PASSWORD="REPLACE_ME"
POSTGRES_HOST="127.0.0.1"

PLAY_APPLICATION_SECRET="REPLACE_ME"
JWT_SECRET="REPLACE_ME"
JWT_ENFORCED=false

PLAY_SESSION_SECURE=true
PLAY_SESSION_DOMAIN="{{ web_app_domain }}"

APP_ALLOWED_HOST_1="{{ web_app_domain }}"
APP_ALLOWED_HOST_2="{{ admin_app_domain }}"

AWS_REGION="us-east-1"
AWS_ACCESS_KEY_ID="REPLACE_ME"
AWS_SECRET_ACCESS_KEY="REPLACE_ME"

EMAIL_SENDER_ADDRESS="template@wiringbits.net"

WEBAPP_HOST="https://template-demo.wiringbits.net"

USER_TOKENS_HMAC_SECRET="REPLACE_ME"
