[Unit]
Description={{ app_systemd_service_name }}

[Service]
Type=simple
WorkingDirectory={{ app_home }}/{{ app_directory_name }}
StandardOutput=tty
StandardError=tty
EnvironmentFile={{ app_env_config_file }}
LimitNOFILE=65535
User={{ app_user }}
ExecStart={{ app_home }}/{{ app_directory_name }}/bin/{{ app_startup_script }} -Dpidfile.path=/dev/null -Dhttp.port={{ server_app_port }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
